.twoLinesOnly {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* add ellipsis */
}

button.selected{
  border: 1px solid #712689;
}